@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
/*
    usar en todo el normalize.css

    trata de no usar % y vh, para usar rem y px
    ya pueda ser en padding, margin, etc etc

    las figuras como "|" mejor crearlas de cero con css en lugar de poner directamente el caracter
    

    arreglar que los elementos se muevan conforme avance la pantalla
    para ello, cambiar los (%/vh) con unidades estáticas (px/rem)

    como por ejemplo, caja negra del header, debe ser más parecida al original
    o por ejemplo, la caja morada, no debe moverse asi, debe ser estática y ya

    también toquetear los tamaños del modo móvil, no es igual

    ajustar el footer, que esté alineado con el header

*/
body {
  font-family: 'DM Sans', sans-serif;
}

.headerContainer {
  background-color: #000000;
  color: #fff;
  font-weight: 700;
  font-size: 17px;
  height: 5.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.innerContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

.brandWrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*
    & img {
        width: 31px;
        height: 31px;
    }
    */
}

.brandWrapper a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: inherit;
}

.brandWrapper .helpCenter {
  font-size: 22px;
  font-weight: 500;
}

.abstractBrand img {
  width: 8rem;
  height: 2rem;
}

.pipeline {
  border-left: 2px solid #fff;
  height: 2rem;
  margin: 10px;
}

/*
.helpCenter {
    font-size: 22px;
    font-weight: 400;
    color: inherit;
    text-decoration: none;
}
*/
.headerButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.searchButton,
.hamburgerButton {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.submitARequestButton {
  display: none;
  background-color: rgba(61, 61, 61, 0.5);
  color: #fff;
  font-size: 24px;
  padding: 10px 20px;
  border: 1px solid #fff;
  border-radius: 8px;
  font: inherit;
  cursor: pointer;
}

.signInButton {
  display: none;
  background-color: #4C5FD5;
  color: #fff;
  font-size: 24px;
  padding: 10px 30px;
  border-radius: 8px;
  border: 1px solid #4C5FD5;
  font: inherit;
  cursor: pointer;
}

.sectionContainer {
  background-color: #dadbf1;
}

.innerSectionContainer {
  padding: 2%;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text {
  text-align: center;
  padding: 1%;
  font-size: 24px;
  font-weight: 500;
}

.helpSearchBox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
}

.searchBox {
  width: 100%;
  margin-left: 20px;
  margin-right: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-color: #000000;
  -webkit-box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.12);
  border-width: 0.1px;
  border-radius: 3px;
  padding: 3%;
}

.helpSearchButton {
  background: none;
  color: inherit;
  border: 0;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  position: relative;
  right: 2.5em;
  top: 2.5px;
}

.categoriesContainer {
  max-width: 100%;
  margin-top: 5%;
  margin-bottom: 10%;
  padding-left: 15px;
  padding-right: 15px;
}

.categories {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.category {
  max-width: 100%;
  margin-left: 2.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.categoryPhoto {
  margin-top: 20%;
  vertical-align: middle;
}

.categoryPhoto img {
  width: 60px;
  height: 60px;
}

.categoryDescription {
  font-size: 24px;
  padding: 5%;
}

.categoryDescription .content {
  margin-bottom: 24px;
  line-height: 32px;
}

.categoryDescription a {
  font-size: 20px;
  line-height: 28px;
  text-decoration: none;
  color: #4C5FD5;
}

footer {
  max-width: 100%;
  padding: 0.5%;
  color: #fff;
  background-color: #000000;
}

footer a {
  color: #fff;
  text-decoration: none;
}

.footerContainer {
  margin-top: 10%;
  font-weight: 400;
  line-height: 22px;
  padding-bottom: 50px;
  padding-right: 15px;
  padding-left: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.footerCol {
  margin-bottom: 10%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  font-weight: 450;
}

.footerCol strong {
  margin-top: 10%;
}

.footerLegalCol {
  margin-bottom: 10%;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 18px;
  font-weight: 450;
  line-height: 10px;
}

.footerLegalCol img {
  width: 35px;
  height: 35px;
}

@media only screen and (min-width: 500px) {
  .headerHelper {
    font-size: 24px;
  }
  .text {
    font-size: 48px;
    font-weight: 400;
  }
  .searchBox {
    font-size: 22px;
  }
  .helpSearchBox {
    width: 100%;
  }
  .sectionContainer {
    height: 45vh;
  }
  .innerSectionContainer {
    height: 35vh;
  }
  .category {
    max-width: 100%;
    margin-left: 5%;
    margin-right: 3%;
  }
  .categoryPhoto {
    margin-top: 10%;
    vertical-align: middle;
  }
  .categoryPhoto img {
    width: 60px;
    height: 60px;
  }
}

@media only screen and (min-width: 620px) {
  footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
  .footerContainer {
    max-width: 100%;
  }
  .footerLegalCol {
    margin-left: 15%;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
}

@media only screen and (min-width: 768px) {
  .headerContainer {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .text {
    font-size: 72px;
  }
  .searchBox {
    font-size: 30px;
  }
  .helpSearchBox {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 770px;
  }
  .sectionContainer {
    margin-top: 0%;
    height: 70%;
  }
  .innerSectionContainer {
    height: 50vh;
  }
  .categoriesContainer {
    max-width: 80%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .categories {
    margin-top: 1em;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
  .categoryPhoto {
    margin-top: 10%;
    vertical-align: middle;
  }
  .categoryPhoto img {
    width: 60px;
    height: 60px;
  }
  footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .footerContainer {
    margin-top: 5%;
    font-weight: 400;
    line-height: 22px;
    padding-bottom: 50px;
    padding-right: 25px;
    padding-left: 50px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .footerCol {
    margin-bottom: 10%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    font-weight: 450;
  }
  .footerCol strong {
    margin-top: 10%;
  }
  .footerLegalCol {
    margin-left: auto;
    margin-right: 5%;
    margin-bottom: 10%;
    font-size: 19px;
    font-weight: 450;
    line-height: 10px;
  }
}

@media only screen and (min-width: 992px) {
  .categoryPhoto img {
    width: 90px;
    height: 90px;
  }
  footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 80% 20%;
        grid-template-columns: 80% 20%;
  }
  .footerContainer {
    margin: 0;
    margin-left: 2.5%;
    padding: 2.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footerCol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footerLegalCol {
    margin: 0;
    margin-bottom: 35px;
    font-size: 18px;
    font-weight: 450;
    line-height: 15px;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
}

@media only screen and (min-width: 1200px) {
  .headerContainer {
    max-width: 87%;
    margin: 0 auto;
    padding: 1.25%;
    font-size: 22px;
  }
  .searchButton,
  .hamburgerButton {
    display: none;
  }
  .extraButtons {
    width: 375px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .submitARequestButton,
  .signInButton {
    display: block;
  }
  .categoriesContainer {
    margin-top: 2%;
  }
  .searchBox {
    font-size: 20px;
  }
  .innerSectionContainer {
    height: 30vh;
  }
  .footerContainer {
    padding-left: 3rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
/*# sourceMappingURL=style.css.map */