//Color palette
$lightBlue: #4C5FD5;
$lightGrey: #dadbf1;
$white: #fff;
$black: #000000;
//Fonts (DM Sans regular & DM Serif Display regular e italic)
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
//Mobile First
body {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex: 1;
}

header {
    color: $white;
    background-color: $black;
}

.headerContainer {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2%;
    font-size: 22px;
}

.headerMark {
    display: flex;
    align-items: center;
}

.headerLogo {
    display: flex;
    align-items: center;
    font-weight: bolder;
    & img {
        width: 31px;
        height: 31px;
        margin-right: 10px;
    }
}

.pipeline {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 30px;
}

.headerHelper {
    font-size: 18px;
    font-weight: 400;
    & a {
        color: inherit;
        text-decoration: none;
    }
}

.headerButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.searchButton,
.hamburgerButton {
    display: flex;
    align-items: center;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.submitARequestButton {
    display: none;
    background-color: rgba(61, 61, 61, 0.5);
    color: $white;
    font-size: 24px;
    padding: 10px 20px;
    border: 1px solid $white;
    border-radius: 8px;
    font: inherit;
    cursor: pointer;
}

.signInButton {
    display: none;
    background-color: $lightBlue;
    color: $white;
    font-size: 24px;
    padding: 10px 30px;
    border-radius: 8px;
    border: 1px solid $lightBlue;
    font: inherit;
    cursor: pointer;
}

//main
//section
.sectionContainer {
    background-color: $lightGrey;
}

.innerSectionContainer {
    padding: 2%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text {
    text-align: center;
    padding: 1%;
    font-size: 24px;
    font-weight: 500;
}

.helpSearchBox {
    display: inline-flex;
    width: 100%;
}

.searchBox {
    width: 100%;
    margin-left: 20px;
    margin-right: auto;
    box-sizing: border-box;
    border-color: $black;
    box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.12);
    border-width: 0.1px;
    border-radius: 3px;
    padding: 3%;
}

.helpSearchButton {
    background: none;
    color: inherit;
    border: 0;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    position: relative;
    right: 2.5em;
    top: 2.5px;
}

//categoriesContainer
.categoriesContainer {
    max-width: 100%;
    margin-top: 5%;
    margin-bottom: 10%;
    padding-left: 15px;
    padding-right: 15px;
}

.categories {
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.category {
    max-width: 100%;
    margin-left: 2.5%;
    display: flex;
    flex-direction: row;
}

.categoryPhoto {
    margin-top: 20%;
    vertical-align: middle;
}

.categoryPhoto img {
    width: 60px;
    height: 60px;
}

.categoryDescription {
    font-size: 24px;
    padding: 5%;
    .content {
        margin-bottom: 24px;
        line-height: 32px;
    }
    & a {
        font-size: 20px;
        line-height: 28px;
        text-decoration: none;
        color: $lightBlue;
    }
}

//footer
footer {
    max-width: 100%;
    padding: 0.5%;
    color: $white;
    background-color: $black;
    & a {
        color: $white;
        text-decoration: none;
    }
}

.footerContainer {
    margin-top: 10%;
    font-weight: 400;
    line-height: 22px;
    padding-bottom: 50px;
    padding-right: 15px;
    padding-left: 15px;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: stretch;
}

.footerCol {
    margin-bottom: 10%;
    display: grid;
    grid-template-columns: 100%;
    align-items: stretch;
    font-weight: 450;
    & strong {
        margin-top: 10%;
    }
}

.footerLegalCol {
    margin-bottom: 10%;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 18px;
    font-weight: 450;
    line-height: 10px;
}

.footerLegalCol img {
    width: 35px;
    height: 35px;
}

//Media Queries
//bigger text and more stuff for bigger mobile devices
@media only screen and (min-width:500px) {
    //header
    .headerHelper {
        font-size: 24px;
    }
    //main
    .text {
        font-size: 48px;
        font-weight: 400;
    }
    .searchBox {
        font-size: 22px;
    }
    .helpSearchBox {
        width: 100%;
    }
    .sectionContainer {
        height: 45vh;
    }
    .innerSectionContainer {
        height: 35vh;
    }
    .category {
        max-width: 100%;
        margin-left: 5%;
        margin-right: 3%;
    }
    .categoryPhoto {
        margin-top: 10%;
        vertical-align: middle;
    }
    .categoryPhoto img {
        width: 60px;
        height: 60px;
    }
}

//changes to the footer visual structure
@media only screen and (min-width:620px) {
    footer {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .footerContainer {
        margin-left: 1%;
        max-width: 100%;
    }
    .footerLegalCol {
        margin-left: 15%;
        align-self: end;
    }
}

//Tablet (?
@media only screen and (min-width:768px) {
    //header
    .headerContainer {
        max-width: 80%;
        margin: 0 auto;
    }
    //main
    .text {
        font-size: 72px;
    }
    .searchBox {
        font-size: 30px;
    }
    .helpSearchBox {
        align-self: center;
        width: 770px;
    }
    //section
    .sectionContainer {
        margin-top: 0%;
        height: 70%;
    }
    .innerSectionContainer {
        height: 50vh;
    }
    //categories
    .categoriesContainer {
        max-width: 80%;
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .categories {
        margin-top: 1em;
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .categoryPhoto {
        margin-top: 10%;
        vertical-align: middle;
    }
    .categoryPhoto img {
        width: 60px;
        height: 60px;
    }
    //footer
    footer {
        display: grid;
        grid-template-columns: 100%;
    }
    .footerContainer {
        max-width: 80%;
        margin-top: 5%;
        font-weight: 400;
        line-height: 22px;
        padding-bottom: 50px;
        padding-right: 25px;
        padding-left: 50px;
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: stretch;
    }
    .footerCol {
        margin-bottom: 10%;
        display: grid;
        grid-template-columns: 100%;
        align-items: stretch;
        font-weight: 450;
        & strong {
            margin-top: 10%;
        }
    }
    .footerLegalCol {
        margin-left: auto;
        margin-right: 5%;
        margin-bottom: 10%;
        font-size: 19px;
        font-weight: 450;
        line-height: 10px;
    }
}

//new changes to the footer visual structure
@media only screen and (min-width:992px) {
    //header
    //main
    .categoryPhoto img {
        width: 90px;
        height: 90px;
    }
    //footer
    footer {
        display: grid;
        grid-template-columns: 80% 20%;
    }
    .footerContainer {
        margin: 0;
        margin-left: 2.5%;
        padding: 2.5%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .footerCol {
        display: flex;
        flex-direction: column;
    }
    .footerLegalCol {
        margin: 0;
        margin-bottom: 35px;
        font-size: 18px;
        font-weight: 450;
        line-height: 15px;
        align-self: end;
    }
}

//Desktop
@media only screen and (min-width: 1200px) {
    //header
    .headerContainer {
        max-width: 87%;
        margin: 0 auto;
        padding: 1.25%;
        font-size: 22px;
    }
    .searchButton,
    .hamburgerButton {
        display: none;
    }
    .extraButtons {
        width: 375px;
        display: flex;
        justify-content: space-between;
    }
    .submitARequestButton,
    .signInButton {
        display: block;
    }
    //main
    .categoriesContainer {
        margin-top: 2%;
    }
    .searchBox {
        font-size: 20px;
    }
    .innerSectionContainer {
        height: 30vh;
    }
    //footer
    .footerContainer {
        justify-content: space-between;
    }
}